<div class="container" id="side_navbar">
<h1>Welcome <%= @user.username %></h1>
<form action='/create' method='get'>
  <input id='button' type='submit' value="Create A Post">
</form><br>
<form action='/explore' method='get'>
  <input id='button' type='submit' value="Explore More Users">
</form><br>
<form action='/logout' method='post'>
  <input id='button' type='submit' value="Logout">
</form><br>
</div>

<h3 id="top_navbar"><a href="/home">Splattr!</a></h3>

<div class="container">
<% @tweets.each do |tweet| %>
    <div class="posting">
    <p id="post_data"><a href="/users/<%= tweet.user.id %>"><%= tweet.user.username%></a></p>
    <p id="post_body"><%= tweet.body  %></p>
    <p id="post_data"><%= tweet.created_at  %></p>
    <hr>
    </div>
    <% end %>
</div>
